<div class="cards-wrapper">
{% for aquarium, aquariumFishes in collections.fishesByAquarium | sort %}
    <div class="aquarium js-fish-aqua-title">
        <h1>Аквариум {{ aquarium }}</h1>
    </div>
    {% for fish in aquariumFishes | sort %}
    <div class="card js-fish-search-item">
        <div class="card-img">
            <img src="{{ fish.data.image | url }}" alt="{{ fish.data.image }}" />
        </div>

        <div class="card-content">
            <h2 class="card-title js-fish-search-target">{{ fish.data.name }}</h2>
            <h2 class="card-title">{{ aquarium }}</h2>
            {% if fish.data.soldout == true %}
                <h2 class="card-title" style="color:tomato;">РАСПРОДАНО</h2>
            {% endif %}
            <p class="card-desc">{{ fish.content | safe }}</p>
        </div>
    </div>
    {% endfor %}
{% endfor %}
</div>
