/* Header */
header {
    background-color: var(--bg);
    box-shadow: var(--shadow-1), var(--shadow-2);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.5rem;
}

header div {
    background: var(--logo-gradient-2);
    background: linear-gradient(60deg, var(--logo-gradient-1), var(--logo-gradient-2), var(--logo-gradient-3), var(--logo-gradient-4));
    background: -moz-linear-gradient(60deg, var(--logo-gradient-1), var(--logo-gradient-2), var(--logo-gradient-3), var(--logo-gradient-4));
    background: -webkit-linear-gradient(60deg, var(--logo-gradient-1), var(--logo-gradient-2), var(--logo-gradient-3), var(--logo-gradient-4));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 2.25rem;
    font-weight: 800;
    margin-left: auto;
    text-transform: uppercase;
}

#theme-toggle {
    width: 32px;
    margin-left: auto;
}

@media (max-width: 1023px) {
    header div {
        font-size: 2rem;
        font-weight: 700;
    }

    #theme-toggle {
        width: 24px;
        margin-left: auto;
    }
}

/* Footer */
footer {
    background-color: var(--bg);
    box-shadow: var(--shadow-3);
    font-size: 1.25rem;
    padding: 1rem;
    text-align: center;
    margin-top: auto;
}

@media (max-width: 1023px) {
    footer {
        font-size: 0.85rem;
    }
}

/* Search */
.fish-search {
    width: 100%;
    max-width: 500px;
    margin: 1rem auto;
}
  
.fish-search-inner {
    width: 100%;
}
  
.fish-search-form {
    display: flex;
    flex-flow: row wrap;
}
  
.fish-search-text {
    display: block;
    width: calc(100% - 100px);
    color: #333333;
    font-size: 16px;
    line-height: 50px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px 0px 0px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    padding: 0 15px;
    box-sizing: border-box;
}

.fish-search-button {
    display: block;
    width: 100px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    background-color: #313131;
    background-color: var(--logo-gradient-2);
    background-image: linear-gradient(60deg, var(--logo-gradient-1), var(--logo-gradient-2), var(--logo-gradient-3), var(--logo-gradient-4));
    background-image: -moz-linear-gradient(60deg, var(--logo-gradient-1), var(--logo-gradient-2), var(--logo-gradient-3), var(--logo-gradient-4));
    background-image: -webkit-linear-gradient(60deg, var(--logo-gradient-1), var(--logo-gradient-2), var(--logo-gradient-3), var(--logo-gradient-4));
    border-radius: 0px 4px 4px 0px;
    padding: 0 15px;
    box-sizing: border-box;
    cursor: pointer;
}

/* Cards */
.cards-wrapper {
    max-width: 1120px;
    margin-inline: 1.5rem;
    row-gap: 2rem;
    display: grid;
    gap: 1.5rem;
    padding: 1rem;
}

.aquarium {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
}

.card {
    padding: 1rem 1rem 2rem;
    border-radius: 0.75rem;
    background-color: var(--bg);
}

.card:hover {
    background-color: var(--white-color);
    border-radius: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}

.card-img {
    position: relative;
    margin-bottom: 0.75rem;
}

.card-img img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}

.card-content {
    margin-bottom: 1.25rem;
}

.card-title {
    font-size: var(--h3-font-size);
    margin-bottom: 0.75rem;
}

@media screen and (max-width: 340px) {
    .cards-wrapper {
        margin-inline: 1rem;
    }
}

@media screen and (min-width: 576px) {
    .cards-wrapper {
        grid-template-columns: 350px;
        justify-content: center;
    }
}
  
@media screen and (min-width: 768px) {
    .cards-wrapper {
        grid-template-columns: repeat(2, 350px);
    }
}

@media screen and (min-width: 1150px) {
    .cards-wrapper {
        grid-template-columns: repeat(3, 352px);
        margin-inline: auto;
    }

    .card {
        padding: 1.25rem 1.25rem 2.5rem;
    }

    .card-img {
        margin-bottom: 1rem;
    }

    .card-content {
        margin-bottom: 2rem;
    }
}
